<nav>
  <a href="/">Home</a>
  <a href="/signup">Signup</a>
  <a href="/login">Login</a>
</nav>
<!-- a partial-- a pice of code that can be shared in multpile views eg header,footer,sidenav,aside,adverts-->
