<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login system</title>
  </head>
  <body>
    <h1>Welcome User</h1>
    <%- include("_nav.ejs") %>
    <p>This is a login system that can be intergrated into any project</p>
    <p>Sysytem capabilities</p>
    <ul>
      <li>Account Creation</li>
      <li>Logging in</li>
      <li>Session management</li>
    </ul>
    <p>Add-ons</p>
    <ul>
      <li>Passwoed management</li>
      <li>Backend input validation</li>
      <li></li>
    </ul>
  </body>
</html>
