<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup page</title>
  </head>
  <body>
    <h1>Signup Page</h1>
    <%- include("_nav.ejs") %>

    <h3>Signup</h3>
    <form action="https://localhost:5000/signup" method="POST">
      <div>
        <label for="fullname">Full Name</label>
        <input type="text" name="fullname" id="fullname" />
      </div>

      <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" />
      </div>
      <label for="dob">Date of Birth</label>
      <input type="date" name="dob" id="id" />
      <div>
        <label for="pass">Password</label>
        <input type="password" name="pass" id="pass" />
      </div>
      <div>
        <label for="pass"> Confirm Password</label>
        <input type="password" name="confirm-pass" id="confirm-pass" />
      </div>
      <div>
        <input type="submit" value="Signup" />
      </div>
    </form>
  </body>
</html>
